/* DON'T TOUCH THIS! */
html, body {
  margin: 0;
  padding: 0;
}
/* DON'T TOUCH THIS! */
body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.title,
.section-title {
  text-transform: uppercase;
}

.title {
  font-size: 4em;
}

.section-title {
  font-size: 3em;
}
